$fontSize: 16px;

.container {
padding: 0px;
}

.navbar {
  padding: 8px 8px 0px 8px;
  width: 100%;
  ul {
    margin: 0px;
    padding-inline-start: 0px;
    li{
  display: inline-block;
  padding: 10px;
        a{
          font-size: $fontSize;
          font-weight: bold;
          color: #8E8E8E;
          text-decoration: none;
          padding-top: 15px;
          padding-bottom: 15px;
        }
        a:hover {
          color: #333333;
        }
      }
     }
}

.logobar {
  padding: 5px;
  a{
    font-size: $fontSize;
    font-weight: bold;
    color: #8E8E8E;
    text-decoration: none;
    padding-top: 7px;
    }
  a:hover {
    color: #333333;
  }
}

.search {
  padding-left: 25px;
}

.header {
  border-bottom: 1px solid;
  border-color: #3333;
}
